:root {
    --column-count: 12;
    --column-size: 80px;
}

.grid {
    --padding-inline: 1rem;
    --content-max-width: calc(var(--column-size) * var(--column-count));
    --breakout-max-width: 1300px;
    --breakout2-max-width: 1500px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    --breakout2-size: calc((var(--breakout2-max-width) - var(--content-max-width)) / 2);
    --full-width: minmax(var(--padding-inline), 1fr);
    --breakout: minmax(0, var(--breakout-size));
    --breakout2: minmax(0, var(--breakout2-size));
    display: grid;
    
    grid-template-columns: 
        [full-width-start] var(--full-width)
        [breakout2-start] var(--breakout2)
        [breakout-start] var(--breakout)
        [content-start] 
            min(100% - (var(--padding-inline) * 2), var(--content-max-width))
        [content-end]
        var(--breakout) [breakout-end]
        var(--breakout2) [breakout2-end]
        var(--full-width) [full-width-end];
}

.grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
    
}

.grid > :not(.breakout, .full-width, .free),
.full-width > :not(.breakout, .full-width, .free) {
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, var(--column-size)));
    align-items: center;
    gap: 1rem;
}

.grid > .breakout,
.full-width > .breakout {
    grid-column: breakout;
}

.grid > .breakout-grid,
.full-width > .breakout-grid {
    grid-column: breakout;

    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
}

.grid > .breakout2,
.full-width > .breakout2 {
    grid-column: breakout2;
}

.grid > .full-width,
.full-width > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}