:root {
    --clr-primary-100: hsl(346, 52%, 80%);
    --clr-primary-200: hsl(346, 52%, 70%);
    --clr-primary-300: hsl(346, 50%, 55%);
    --clr-primary-400: hsl(346, 50%, 50%);
    --clr-primary-500: hsl(346, 50%, 44%);
    --clr-primary-600: hsl(346, 56%, 35%);
    --clr-primary-700: hsl(346, 46%, 30%);
    --clr-primary-800: hsl(346, 36%, 27%);
    --clr-primary-900: hsl(346, 17%, 21%);
    --clr-primary-contrast: #ffffff;
    --clr-primary-color: #fffef7;
    --clr-accent-100: hsl(38, 74%, 88%);
    --clr-accent-200: hsl(38, 69%, 78%);
    --clr-accent-300: hsl(38, 80%, 73%);
    --clr-accent-400: hsl(38, 80%, 65%);
    --clr-accent-500: hsl(38, 58%, 57%);
    --clr-accent-600: hsl(38, 55%, 48%);
    --clr-accent-700: hsl(38, 90%, 30%);
    --clr-accent-800: hsl(38, 100%, 20%);
    --clr-accent-900: hsl(38, 100%, 13%);
    --clr-accent-contrast: #000000;
    --clr-accent-color: hsl(0, 91%, 13%);
    --clr-neutral-000: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(0, 0%, 93%);
    --clr-neutral-200: hsl(0, 0%, 80%);
    --clr-neutral-300: hsl(0, 0%, 70%);
    --clr-neutral-400: hsl(0, 0%, 60%);
    --clr-neutral-500: hsl(0, 0%, 50%);
    --clr-neutral-600: hsl(0, 0%, 40%);
    --clr-neutral-700: hsl(0, 0%, 30%);
    --clr-neutral-800: hsl(0, 0%, 20%);
    --clr-neutral-900: hsl(0, 0%, 10%);
    --clr-neutral-contrast: hsl(0, 0%, 10%);
    --clr-neutral-color: var(--clr-primary-900);
    --clr-background-200: #564146;
    --clr-background-primary: var(--clr-primary-600);
    --clr-background-primary-color: #fffef7;
}