.logo img {
    width: 110px;
    border-radius: 5rem;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.logo p {
    font-size: 2rem;
    line-height: 2rem;
}

.logo p i {
    font-weight: lighter
}